@page "/items"
@rendermode InteractiveServer

<PageTitle>Items</PageTitle>

<h1>Items</h1>
<h2>@TextValue</h2>
<FluentTextField @bind-Value="TextValue"/>
<FluentButton OnClick="ButtonClicked">Add to the number</FluentButton>