@page "/items/add"
@rendermode InteractiveServer

<PageTitle>Items</PageTitle>
<FluentCard Width="400px">
    <FluentGrid Spacing="3" Justify="JustifyContent.FlexEnd">
        <FluentGridItem xs="12" Justify="JustifyContent.Center">
            <h3>New item</h3>
        </FluentGridItem>
        <FluentGridItem xs="12">
            <FluentTextField @bind-Value=@NewItemName style="width: 100%;" Label="Name"></FluentTextField>
        </FluentGridItem>
        <FluentGridItem xs="12">
            <FluentTextField @bind-Value=@NewItemCategory style="width: 100%;" Label="Category"></FluentTextField>
        </FluentGridItem>
        <FluentGridItem xs="4">
            <FluentButton Appearance="Appearance.Accent" OnClick="@OnAdd" Loading="@CallingApi" style="width: 100%;">Add</FluentButton>
        </FluentGridItem>
    </FluentGrid>
    
</FluentCard>