@page "/items"
@rendermode InteractiveServer

<PageTitle>Items</PageTitle>
<a href="/items/add">
    <FluentButton IconStart="new Icons.Regular.Size16.Add()" Appearance="Appearance.Outline">New Item</FluentButton>
</a>