@inherits LayoutComponentBase
<FluentLayout>
    <FluentHeader>
        Vyron's Inventory Management
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu/>
        <FluentBodyContent>
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <div class="link1">
            <a href="https://www.github.com/pvyron" target="_blank">Github</a>
        </div>
        <div class="link2">
            <a href="https://www.linkedin.com/in/pvyron" target="_blank">LinkedIn</a>
        </div>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>